---
import BaseLayout from "../layouts/BaseLayout.astro";
import Blogcard from "../components/Blogcard.astro";
const allPosts = Object.values(
  import.meta.glob("./posts/*.md", { eager: true }),
);
const pageTitle = "My Astro Learning Blog";
---

<BaseLayout pageTitle={pageTitle}>
  <p>This is where I will post about my journey learning Astro.</p>
  <div class="blog-grid">
    {
      allPosts.map((post: any) => (
        <Blogcard
          img={post.frontmatter.image.url}
          title={post.frontmatter.title}
          author={post.frontmatter.author}
          url={post.url}
        />
      ))
    }
  </div>
</BaseLayout>
